
<ion-header page-log-header class="page-log-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="auto"></ion-back-button>
		</ion-buttons>
		<ion-title>log absen</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content page-log-content class="page-log-content " >
<ion-card>
	<ion-card-content>This page is under construction. Please come back soon!</ion-card-content>
</ion-card>

</ion-content>
